%h1 Listing <%= plural_table_name %>

= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path

- <%= plural_table_name %>.each do |<%= singular_table_name %>|
  %div[<%= singular_table_name %>]
    = link_to 'Show', <%= singular_table_name %>
    = link_to 'Edit', [:edit, <%= singular_table_name %>]
    = link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }
